.nav-pills .nav-link.active {
    background: red;
}


.inp1, .passinp1, .nameinp1 {
    position:absolute;
    margin-left: 5px;
    transition:0.2s;
    color:rgba(0, 181, 204, 1)
}
input{
    border: none;
    border-bottom: 1px solid rgba(103, 128, 159, 0.5);
    outline:none;
    color: rgba(103, 128, 159, 1)
}

.inp2, .passinp2, .nameinp2 {
    position: absolute;
    margin-top: -19px;
    padding-left: 12px;
    font-size: 12px;
    color: orange;
    transition: 0.2s ease all;;
}

input:focus {
    border-bottom:1px solid rgb(255, 203, 5)
}

.regbtn:active{
    background: orange;
}

.regbtn {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.regbtn {
   padding: 4px 90px;
   transition: 0.2s;
   background-size: 200% auto;
   color: white;            
   border-radius: 5px;
   border:none;
 }

 .regbtn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .inp3 {background:hotpink}
